<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <h1>Mi familia!</h1>

  <p>Buen día {{name}}! </p>

  <p>Miembro agregado con éxito!</p>
  <div class='info'>
    <ul>
      <li>Nombre: {{name}}</li>
      <li>Apellido: {{last_name}}</li>
      <li>Edad: {{age}}</li>
      <li>Padres: {{parents}}</li>
      <li>Fecha de nacimiento: {{birth}}</li>
    </ul>
  </div> 

  <div class='all'>
    <h2> Miembros de {{checking}}</h2>
    <!--<p>{{db}}</p>-->

    {% for i in familia %}
      <ul>
        <li>Nombre: {{i.name}}</li>
        <li>Apellido: {{i.last_name}}</li>
        <li>Edad: {{i.age}}</li>
        <li>Padres: {{i.parents}}</li>
        <li>Fecha de nacimiento: {{i.birth}}</li>
      </ul>
     <p></p>
    {% endfor %}

    <h2>TODOS! </h2>
    {% for i in familia.all %}
    <ul>
      <li>Nombre: {{i.1}}</li>
      <li>Apellido: {{i.2}}</li>
      <li>Edad: {{i.3}}</li>
      <li>Padres: {{i.4}}</li>
      <li>Fecha de nacimiento: {{i.5}}</li>
    </ul>
    {% endfor %}

  </div>
    
</body>
</html>
