<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Hola desde una planilla <i>variable</i>!</h1>

  <p style='color: red'>Mi nombre es: {{nombre}}</p>
  <p style='color: green'>Mi apellido es: {{apellido}}</p>

  <p>La fecha es: {{hoy}}</p>

  <p>Notas del curso:</p>

  <p>
  {% for i in lista %}
    {% if i < 4 %}
      <p style='color:red'>Desaprobado: {{i}}</p>
    {% else %} <p style='color:blue'>Aprobado: {{i}}</p>
    {% endif %}
  {% endfor %}
  </p>
</body>
</html>
